<h1>Sistema de gestión del terminal de Transportes</h1>
<p>BIENVENIDOS</p><br>

<table>
    <tbody>
        <tr>
            <td><b><a href="/vehicle/show">GESTIONAR VEHÍCULOS</a></b> - - </td>
            <td><b><a href="/city/show ">GESTIONAR CIUDADES</a></b> - - </td>
            <td><b><a href="/trip/show">GESTIONAR VIAJES</a></b></td>
        </tr>
    </tbody>
</table>